.all-tweets {
  width: 100%;
  margin-top: 80px;
  font-family: "Source Sans 3", sans-serif;
}

.tweet {
  width: 100%;
  border: 5px solid #424949;
  margin-bottom: 60px;
  border-radius: 2px;
  padding: 20px;
}

.tweet header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tweet header div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tweet header div img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

/* Tweeter handle */
.tweet header>p {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  color: #998690;
}

/* Tweet text */
.tweet>p {
  margin: 15px;
  font-weight: bold;
  padding-bottom: 50px;
  border-bottom: 5px solid #424949;
  letter-spacing: 0.5px;
}

/* Footer for tweet timestamp and tweet social icons*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

/* Footer's direct p child*/
footer>p {
  margin-top: 0;
  font-weight: bold;
  color: #44423c;
}

footer>p>i {
  padding: 0 5px 0 5px;
  color: #32478a;
}

/* Add shadow on tweet box on hovering */
.tweet:hover {
  box-shadow: 7px 7px 0 #acb5cf;
}

/* Change color of icons on hovering */
.tweet i:hover {
  color: #b6942e ;
}