 .new-tweet {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   margin-top: 20px;
 }

 .new-tweet h2 {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .new-tweet .tweet-details {
   border-bottom: 2px solid black;
 }

 .tweet-details {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
 }

 .tweet-details textarea {
   margin-top: 5px;
   margin-bottom: 15px;
   background-color: inherit;
   border: none;
 }

 .new-tweet .tweet-submission {
   display: flex;
  flex-direction: row;
  justify-content: space-between;
   font-family: Bungee, sans-serif;
   
 }

 .tweet-submission button {
   background-color: #4056A1;
   color: #FFF;
 }